// Common classes

body {

}
// SPACES
.inner-space {
    padding-top: 2rem;
    padding-bottom: 2rem;
    &.tight-padding {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    &.no-bottom-space {
        padding-bottom: 0;
    }
}
.outer-space {
    margin-top: 2rem;
    margin-bottom: 2rem;
    &.tight-margin {
        margin-top: 1rem;
    margin-bottom: 1rem;
    }
}
.closed {
    position: absolute;
    top: -100vh;
    opacity: 0;
    visibility: hidden;
}
.sidebar {
    &.sidebar-move-up {
        position: relative;
        margin-top: -9rem;
        @include breakpoint(xxlarge only) {
            margin-top: -23vh;
        }
        &.tiny-space {
            margin-top: -10vh;
        }
    }
}
//titles
.section-title {
    font-size: rem-calc(22);
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: $title-font-family;
}
.archive-title {
    margin: 1.5rem 0;
    font-family: $title-font-family;
    text-transform: uppercase;
}
.middle-title {
    margin: 1rem 0 2.5rem 0;
    border-bottom: 1px solid $light-gray;
    text-align: center;
    span {
        position: relative;
        padding: .3rem .8rem;
        top: 1rem;
        background: $white;
        text-transform: uppercase;
        font-family: $title-font-family;
        font-size: 1.3rem;
    }
}
.background-gray-dark {
    .section-title {
        color: $white;
    }
}
.light-text {
    font-size: .9rem;
    color: $dark-gray;
    font-style: italic;
}
.strong-tiny {
    font-family: $title-font-family;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 600;
    color: $dark-gray;
}
.enclosed {
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    .button {
        margin-bottom: 0;
    }
}
.rounded {
    img {
        border-radius: 50%;
    }
}
//colors
a {
    color: $secondary-color;
    &:hover {
        color: $secondary-color;
        text-decoration: underline;
    }
}
.background-lighter-gray {
    background-color: $lighter-gray;
}
.background-gray-dark {
    background-color: $dark-gray;
}
.background-gray-darker {
    background-color: $darker-gray;
}
.gradient-yellow {
    @include gradient-yellow;
}
.button {
    &.gray {
        background-color: $dark-gray;
        &:hover {
            background-color: lighten($dark-gray,10);
        }
    }
    &.primary {
        color: darken($primary-color,40) !important;
    }
    &.secondary {
        color: $white;
    }
}

//TEMPORARY FIX
// Remove country field from profile edits
// this should be eventually replaced with a country dropdown select 
#buddypress {
    #profile-edit-form {
        .editfield {
            &.field_location {
                display: none !important;
            }
        }
    }
}