.main-header {
    position: relative;
    background-color: $primary-color;
    color: $white;
    z-index: 90;
    @include shadow;
    .navigation {
        margin-top: 0;
    }
    .grid-container {
        padding-top: .8rem;
        padding-bottom: .8rem;
        .logo {
            a {
                color: $darker-gray;
                .site-title {
                    @include darkgray-logo;
                    margin-bottom: 0;
                }
                .tagline {
                    display: block;
                    padding-left: 4rem;
                    letter-spacing: 5px;
                    text-transform: uppercase;
                }
                &:hover {
                    text-decoration: none;
                    opacity: .8;
                }
            }
        }
        .nav {
            display: flex;
            align-items: center;
            padding-left: 2rem;
            .main-navigation {
                .menu {
                    li {
                        position: relative;
                        a {
                            color: $darker-gray;
                            font-family: $title-font-family;
                            font-size: 1.3rem;
                            border-bottom: 2px solid transparent;
                            text-decoration: none;
                            &:hover {
                                border-bottom: 2px solid $secondary-color;
                            }
                        }
                        .sub-menu {
                            position: absolute;
                            width: 12rem;
                            padding: .5rem;
                            margin: 0;
                            list-style-type: none;
                            background-color: $white;
                            opacity: 0;
                            visibility: hidden;
                            transition: all .2s ease;
                            li {
                                a {
                                    font-size: 1.1rem;
                                    &:hover {
                                        border-bottom: 1px solid transparent;
                                        color: $secondary-color;
                                    }
                                }
                            }
                        }
                        &:hover {
                            .sub-menu {
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }
}
.main-footer {
    color: $white;
    .footer-logos {
        img {
            width: 40px;
        }
    }
}

.mobile-header {
    position: fixed;
	width: 100%;
    background-color: $primary-color;
    z-index: 990;
    box-shadow: 0 1px 3px rgba($black,.4);
    .logo {
        @include logo-display;
        width: 150px;
        margin-top: .5rem;
    }
    .mobile-buttons {
        display: flex;
        justify-content: flex-end;
        padding-top: .7rem;
        text-align: right;
        a {
            padding: 0 .3rem;
            display: block;
            .dashicons {
                color: $black;
                font-size: 2rem;
                width: 2rem;
                height: 2rem;
            }
        }
    }
}
.menu-mobile-container {
	margin-top: 3.6rem;
    @include coverer;
    position: fixed;
    z-index: 9999;
    background: map-get($foundation-palette, primary);
    .close {
        position: absolute;
        right: 1rem;
        top: .5rem;
        color: $white;
        z-index: 20;
        .dashicons {
            font-size: 2rem;
        }
    }
    .mobile-navigation {
        padding-right: 4rem;
    }
    .is-drilldown {
    	margin-top: 1rem;
    }
    .menu {
    	display: block;
        margin: 1rem 1.5rem 0 1.5rem;
        li {
            a {
                color: $white;
                text-transform: uppercase;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 1.2rem;
               &:active {
               		background-color: darken($primary-color,20);
               		color: $white;
               }

            }
            &.active {
            	a {
            		text-decoration: underline;
            	}
            }
            &.menu-item-has-children {
                &.opened {
                    a {
                        &:after {
                            transform: rotate(90deg);
                        }
                    }
                }
                a {
                    &:after {
                        position: absolute;
                        content: "\f139";
                        font-family: 'Dashicons';
                        color: $white;
                        right: 0;
                        top: .7rem;
                        transition: all .3s ease;
                    }
                }
                .sub-menu {
                    display: none;
                    list-style-type: none;
                    .menu-item {
                        border-bottom: 0;
                        a {
                            text-transform: initial;
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
.error404 {
    .main-content {
        .entry-title {
            margin-top: 1.5rem;
            color: #BABABA;
            text-transform: uppercase;
            font-size: 5rem;
            text-align: center;
            strong {
                display: block;
                font-size: 9rem;
                color: #8E8E8E;
                line-height: 6rem;
            }
        }
        .subtitle {
            margin: 2rem 0;
            font-size: 2.5rem;
            color: #838383;
        }
        .std-text {
            p {
                font-size: 1.5rem;
            }
        }
    }
}