.widget {
    &.user-status {
        padding: 1.5rem;
        padding-bottom: 8rem;
        margin-bottom: 2.5rem;
        background: $white;
        border-radius: .5rem;
        .widget-content {
            .user-progress {
                position: relative;
                margin-top: 3rem;
                .status-point {
                    position: absolute;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    top: -.5rem;
                    &.first {
                        left: -.3rem;
                    }
                    &.second {
                        left: 30%;
                    }
                    &.third {
                        left: 60%;
                    }
                    &.fourth {
                        right: -.3rem;
                    }
                    &.checked {
                        background-color: $primary-color;
                        border: 2px solid $primary-color;
                        &.success {
                            background-color: $success-color;
                        }
                        &.warning {
                            background-color: $warning-color;
                        }
                    }
                    &.empty {
                        background-color: $white;
                        border: 2px solid $primary-color;
                        &.not-yet {
                            border: 2px solid $light-gray;
                        }
                    }
                }
            }
            .dropdown-pane {
                .triangle {
                    position: absolute;
                    width: 0;
                    height: 0;
                    top: -1.1rem;
                    left: 46%;
                    border-style: solid;
                    border-width: 0 20px 20px 20px;
                    border-color: transparent transparent $lighter-gray transparent;
                    border-style: inset;
                }
                .status-content {
                    display: flex;
                    .status-action {
                        display: flex;
                        margin-left: 1rem;
                        .button {
                            &:first-child {
                                margin-right: .5rem;
                            }
                        }
                    }
                }
            }
        }
    }
    &.big-search {
        position: relative;
        margin-bottom: 1.5rem;
        background: $white;
        border-radius: .5rem;
        .input-search {
            padding: 1rem;
            height: 8rem;
            border: 0;
            box-shadow: none;
            font-size: 2rem;
        }
        i {
            position: absolute;
            right: 1.1rem;
            top: 2rem;
            font-size: 2.5rem;
            color: $medium-gray;
        }
    }
    &.blog-entries {
        .entries-list {
            padding-left: 1.5rem;
            margin-left: 1rem;
            border-left: 1px solid $light-gray;
        }
    }
    &.chapters {
        .widget-title {
            font-size: rem-calc(22);
            font-family: $title-font-family;
        }
        .widget-content {
            margin-top: 1.5rem;
            display: flex;
            .stats {
                display: flex;
                background-image: url(../img/mini-world-map.svg);
                background-repeat: no-repeat;
                background-size: contain;
                .stats-item {
                    padding: 6.2rem;
                    text-align: center;
                    .stats-number {
                        display: block;
                        font-size: rem-calc(86);
                        font-weight: 600;
                        line-height: 4rem;
                    }
                    .stats-name {
                        display: block;
                        font-size: rem-calc(18);
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                }
            }
            .chapter-list {
                width: 100%;
                .arrow-list {
                    list-style-type: none;
                    li {
                        padding: .6rem .5rem;
                        border-bottom: 1px solid darken($lighter-gray,5);
                        a {
                            display: flex;
                            justify-content: space-between;
                            color: $dark-gray;
                            font-size: rem-calc(22);
                            i {

                            }
                        }
                    }
                }
            }
        }
    }
    &.subscribe {
        padding: 2rem;
        .widget-title {
            font-family: $title-font-family;
            text-transform: uppercase;
        }
    }
    &.event {
        padding: 2rem;
        .date-section {
            display: flex;
            .date {
                padding-right: 1.5rem;
                font-family: $title-font-family;
                color: $darker-gray;
                text-align: center;
                .day-name {
                    display: block;
                    font-size: rem-calc(36);
                }
                .day-number {
                    display: block;
                    font-size: rem-calc(150);
                    line-height: 7.5rem;
                    font-weight: 600;
                }
                .month {
                    font-size: rem-calc(30);
                }
            }
            .widget-content {
                padding-left: 2em;
                //border-left: 1px solid $light-gray;
                .event-header {
                    padding-bottom: .5rem;
                    margin-bottom: 1rem;
                    border-bottom: 1px solid $light-gray;
                    .widget-title {
                        font-family: $title-font-family;
                    }
                    .subtitle {
                        display: block;
                        font-style: italic;
                        color: $dark-gray;
                    }
                }
            }
        }
        &.no-event {
            border: 1px solid $light-gray;
        }
    }
    &.banner-link {
        position: relative;
        padding: 1.5rem;
        padding-bottom: 3.5rem;
        &.outline {
            border: 2px solid $light-gray;
        }
        &.white {
            background-color: $white;
        }
        &.medium-gray {
            background-color: $medium-gray;
        }
        &.light-gray {
            background-color: $light-gray;
        }
        .widget-title {
            font-size: rem-calc(25);
            text-transform: uppercase;
            font-family: $title-font-family;
        }
        .widget-link {
            position: absolute;
            right: 1.5rem;
            bottom: .3rem;
            .single-link {
                position: relative;
                bottom: 1rem;
                color: $black;
                font-weight: 600;
                &.with-icon {
                    i {
                        margin-left: .5rem;
                    }
                }
            }
        }
    }
    &.page {
        padding: 1.5rem;
        @include shadow;
        &.highlight {
            background-color: $secondary-color;
        }
        a {
            color: $white;
            .widget-header {
                .widget-title {
                    font-size: 3rem;
                    line-height: 4rem;
                    font-weight: 700;
                }
            }
            .widget-content {
                .arrow-link {
                    display: block;
                    font-size: 2rem;
                }
            }
            &:hover {
                .widget-title {
                    color: $light-gray;
                }
                .widget-content {
                    .arrow-link {
                        color: $primary-color;
                    }
                }
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
    &.members-list {
        padding: 0 1rem;
        .widget-header {
            .widget-title {
                color: $dark-gray;
                font-family: $title-font-family;
            }
        }
    }
}
.gray-dark {
    .widget-title {
        color: $light-gray;
    }
}
.not-logged-in {
    .sidebar-first {
        .members-list {
            .widget-title {
                color: $light-gray;
            }
        }
    }
}