/*#top-menu li {
    display:inline;
}

#bottom-menu li {
    display:inline;
}

@media screen and (min-width: 48em) {
    body.page-template-full-width .entry-header {
        display: none;
    }

    body.page-template-full-width .page-full-width #primary .entry-content {
        width: 100%;
    }

    body.page-template-full-width .page-full-width #primary .entry-header {
        width: 100%;
    }
}
*/

/*
    EXTRA STYLES
*/
.top-space {
    padding-top: 11rem;
}
.inner-space {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.text-center {
    text-align: center;
}
/*
    CALLOUT
*/
.callout {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}
.callout.warning {
    background-color: #ffeb92;
    border: 4px solid #ecb500;
}
.callout.success {
    border: 4px solid #33b400;
    background-color: #c7ffb1;
}
.callout .title {
    font-size: 1.2rem;
    text-transform: uppercase;
}
.application-status {
    position: relative;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
.application-status small {
    font-style: italic;
}
.application-status .title {
    font-size: 1.2rem;
    text-transform: uppercase;
}
.button {
    padding: 8px 15px;
    color: white;
    background-color: #27a635;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.button.yellow {
    background-color: #efbe01;
    color: black;
    font-weight: normal;
    text-transform: none;
}
.button.yellow:hover {
    background-color: #d3a900;
}
.button.top-right {
    position: absolute;
    right: 0;
    top: 28%;
}
.votation-content {
    min-height: 20rem;
}
.entry-ask-request {
    padding: 1rem;
    border: 2px solid #ececec;
    text-align: center;
}
.entry-ask-request .subtitle {
    text-transform: uppercase;
    font-size: .9rem;
    color: #8a8a8a;
}
.entry-ask-request h5 {
    margin: .5rem 0;
    font-size: 1.3rem;
}
.entry-ask-request .button {
    display: block;
    margin-top: 1rem;
    font-size: .9rem;
    color: white;
}
.entry-ask-request #clarification_voucher {
    padding: .5rem;
    width: 100%;
    border: 1px solid #BABABA;
}
/*///////////////////////////////////////
    USER APPLICATION STATUS
////////////////////////////////////////*/
/*
    ENTRY STATUS
*/

.page-header .entry-title {
    color: #F46B2C;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: normal;
}
.user-status-container {
    padding-top: 3rem;
}
.entry-status {
    padding: 1rem;
    border: 4px solid #ececec;
    text-align: center;
    min-height: 19rem;
    opacity: .5;
}

.entry-status .icon {
    display: block;
    text-align: center;
}
.entry-status .entry-status-content {
    border-top: 1px solid #C0C0C0;
    margin-top: 1rem;
    padding-top: 1rem;
}
.entry-status .entry-status-content .status-text {
    font-weight: bold;
}
.entry-status .entry-status-content .status-action {
    display: block;
    margin-top: 1rem;
}
.entry-status .entry-status-content .subtitle {
    display: block;
    font-size: .8rem;
}
.entry-status .entry-status-content .update-date {
    display: block;
}
.entry-status .icon .dashicons {
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
}
.entry-status .subtitle {
    text-transform: uppercase;
}
.entry-status .entry-title {
    font-size: 1.5rem;
}
/*Status success*/
.entry-status.success {
    border: 4px solid #33b400;
    background-color: #c7ffb1;
    opacity: 1;
}
.entry-status.success .entry-title {
    color: #1a5c00;
}
.entry-status.success .icon .dashicons {
    color: #1a5c00;
}
/* Status error */
.entry-status.error {
    border: 4px solid #6e4d4d;
    background-color: #ffb1b1;
    opacity: 1;
}
.entry-status.error .entry-title {
    color: #5c0000;
}
.entry-status.error .icon .dashicons {
    color: #5c0000;
}

/* Status on-hold */
.entry-status.on-hold {
    border: 4px solid #fdad00;
    background-color: #ffe4b1;
    opacity: 1;
}
.entry-status.on-hold .entry-title {
    color: #ff7300;
}
.entry-status.on-hold .icon .dashicons {
    color: #ff7300;
}

/*///////////////////////////////////////
    APPLICANT PUBLIC PROFILE 
////////////////////////////////////////*/

table.ccgn-profile {
    display: none;
    width: 100%;
    border-top: 5px solid #e6e6e6;
}
table.ccgn-profile tr td {
    padding: .8rem 1rem;
    border-bottom: 1px solid #e6e6e6;
}
table.ccgn-profile tr td.title {
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
}
.display-details {
    text-decoration: none;
    display: flex;
    padding: .5rem;
    align-items: center;
    background-color: #cea500;
    color: #FFF;
    transition: all .5s ease;
}
.display-details:hover {
    background-color: #e6b800;
}
.display-details .dashicons {
    transition: all .5s ease;
}
.display-details.opened .dashicons {
    transform: rotate(-180deg);
}
.preview-details td {
    padding: .5rem;
    width: 50%;
    vertical-align: top;
    font-size: .9rem;
}
.preview-details td h6 {
    margin: 1rem 0;
    font-size: 1.1rem;
    font-weight: bold;
}
.signup-form-body .applicant-title {
    padding: .5rem 0;
    border-bottom: 1px solid #cea500;
    border-top: 1px solid #cea500;
}
.signup-form-body h3 {
    font-size: 1.2rem;
}
/* VOUCH LIST */
.vouch-list {
    list-style-type: none;
}
.vouch-list .vouch-item a {
    display: flex;
    padding: .5rem;
    margin-bottom: 1rem;
    align-items: center;
    background-color: #efaf01;
    text-decoration: none;
    color: #5D5D5D;
}
.vouch-list .vouch-item a .dashicons {
    margin-right: .5rem;
}
.vouch-list .vouch-item a:hover {
    background-color: #ef9c01;
    color: white;
}
/*///////////////////////////////////////
    GENERAL PAGES
////////////////////////////////////////*/
.error404 .main-content .entry-title {
    margin-top: 1.5rem;
    color: #BABABA;
    text-transform: uppercase;
    font-size: 5rem;
    text-align: center;
}
.error404 .main-content .entry-title strong {
    display: block;
    font-size: 9rem;
    color: #8E8E8E;
    line-height: 6rem;
}
.error404 .main-content .subtitle {
    margin: 2rem 0;
    font-size: 2.5rem;
    color: #838383;
}
.error404 .main-content .std-text p {
    font-size: 1.5rem;
}
.main-content .std-text {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.main-content .std-text p {
    margin: .5rem 0;
}
.main-content .std-text .link-list {
    margin-top: 1.5rem;
    padding-left: 1.8rem;
}
.main-content .std-text .link-list li {
    margin-bottom: .5rem;
}
.main-content .search-form {
    position: relative;
    width: 60%;
    margin: 2rem auto;
}
.main-content .search-form .search-field {
    padding: .5rem;
    border: 0;
    border-bottom: 1px solid #C0C0C0;
    font-size: 1.2rem;
}
.main-content .search-form .search-field::-webkit-input-placeholder { 
  color: #BABABA;
  font-style: italic;
}
.main-content .search-form .search-field::-moz-placeholder {
  color: #BABABA;
  font-style: italic;
}
.main-content .search-form .search-field:-moz-placeholder { 
  color: #BABABA;
  font-style: italic;
}
.main-content .search-form .search-field:-ms-input-placeholder { 
  color: #BABABA;
  font-style: italic;
}
.main-content .search-form .search-submit {
    position: absolute;
    right: 2rem;
    top: .3rem;
    background-color: transparent;
}

.page-body .gform_wrapper .gform_body input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
    padding: 5px 4px !important;
    width: auto !important;
    font-size: 1rem !important;
    border: 1px solid lightgray;
}
.block-area .entry-content {
    min-height: 20rem;
}
.voucher_profile_link {
    margin-left: 1rem;
    font-size: .9rem;
}

.cc-content-area .block-area {
    padding-top: 3rem;
}
.cc-content-area .block-area .entry-content {
    min-height: 60vh !important;
}
.cc-content-area .block-area .entry-content.not-login {
    margin-top: 10rem;
}
.entry-content p {
    margin: 1.2rem 0;
    line-height: 1.8rem;
}
.cc-content-area .block-area .entry-content ul.user-list {
    margin: 1rem 0 2rem;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    list-style-type: none;
}
.cc-content-area .block-area .entry-content ul.link-list {
    margin: 0;
    padding: 0;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    list-style-type: none;
}
.cc-content-area .block-area .entry-content ul.link-list li {
    padding: .5rem;
}
.cc-content-area .block-area .entry-content ul.link-list li a {
    text-decoration: none;
}
.cc-content-area .block-area .entry-content ul.link-list li a:hover {
    text-decoration: underline;
}
.cc-content-area .block-area .entry-content h1, .cc-content-area .block-area .entry-content h2, .cc-content-area .block-area .entry-content h3, .cc-content-area .block-area .entry-content h4, .cc-content-area .block-area .entry-content h5, .cc-content-area .block-area .entry-content h6 {
    margin: 1rem 0;
}    
.cc-content-area .block-area .entry-content ul.user-list li {
    padding: .8rem 1rem;
    border-bottom: 1px solid #f1f1f1;
}
.cc-content-area .block-area .entry-content ul {
    padding-left: 1.5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
}