/*#top-menu li {
    display:inline;
}

#bottom-menu li {
    display:inline;
}

@media screen and (min-width: 48em) {
    body.page-template-full-width .entry-header {
        display: none;
    }

    body.page-template-full-width .page-full-width #primary .entry-content {
        width: 100%;
    }

    body.page-template-full-width .page-full-width #primary .entry-header {
        width: 100%;
    }
}
*/

/*
    EXTRA STYLES
*/
.top-space {
    padding-top: 11rem;
}
.inner-space {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.text-center {
    text-align: center;
}
/*
    CALLOUT
*/
.callout {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}
.callout.warning {
    background-color: #ffeb92;
    border: 4px solid #ecb500;
}
.callout.success {
    border: 4px solid #33b400;
    background-color: #c7ffb1;
}
.callout .title {
    font-size: 1.2rem;
}
.callout p {
    margin: 0;
}
.application-status {
    position: relative;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
.application-status small {
    font-style: italic;
}
.application-status .title {
    font-size: 1.2rem;
    text-transform: uppercase;
}
.button {
    padding: 8px 15px;
    color: white;
    background-color: #27a635;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.button.yellow {
    background-color: #efbe01;
    color: black;
    font-weight: normal;
    text-transform: none;
}
.button.yellow:hover {
    background-color: #d3a900;
}
.button.top-right {
    position: absolute;
    right: 0;
    top: 28%;
}
.votation-content {
    min-height: 20rem;
}
.entry-ask-request {
    padding: 1rem;
    border: 2px solid #ececec;
    text-align: center;
}
.entry-ask-request .subtitle {
    text-transform: uppercase;
    font-size: .9rem;
    color: #8a8a8a;
}
.entry-ask-request h5 {
    margin: .5rem 0;
    font-size: 1.3rem;
}
.entry-ask-request .button {
    display: block;
    margin-top: 1rem;
    font-size: .9rem;
    color: white;
}
.entry-ask-request #clarification_voucher {
    padding: .5rem;
    width: 100%;
    border: 1px solid #BABABA;
}
/*///////////////////////////////////////
    USER APPLICATION STATUS
////////////////////////////////////////*/
/*
    ENTRY STATUS
*/




/*///////////////////////////////////////
    APPLICANT PUBLIC PROFILE 
////////////////////////////////////////*/


/* VOUCH LIST */

/*///////////////////////////////////////
    GENERAL PAGES
////////////////////////////////////////*/

.page-body .gform_wrapper .gform_body input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
    padding: 5px 4px !important;
    /*width: auto !important;*/
    font-size: 1rem !important;
    border: 1px solid lightgray;
}
.block-area .entry-content {
    min-height: 20rem;
}
.voucher_profile_link {
    margin-left: 1rem;
    font-size: .9rem;
}

.cc-content-area .block-area {
    padding-top: 3rem;
}
.cc-content-area .block-area .entry-content {
    min-height: 60vh !important;
}
.cc-content-area .block-area .entry-content.not-login {
    margin-top: 10rem;
}
.entry-content p {
    margin: 1.2rem 0;
    line-height: 1.8rem;
}
.cc-content-area .block-area .entry-content ul.user-list {
    margin: 1rem 0 2rem;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    list-style-type: none;
}
.cc-content-area .block-area .entry-content ul.link-list {
    margin: 0;
    padding: 0;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    list-style-type: none;
}
.cc-content-area .block-area .entry-content ul.link-list li {
    padding: .5rem;
}
.cc-content-area .block-area .entry-content ul.link-list li a {
    text-decoration: none;
}
.cc-content-area .block-area .entry-content ul.link-list li a:hover {
    text-decoration: underline;
}
.cc-content-area .block-area .entry-content h1, .cc-content-area .block-area .entry-content h2, .cc-content-area .block-area .entry-content h3, .cc-content-area .block-area .entry-content h4, .cc-content-area .block-area .entry-content h5, .cc-content-area .block-area .entry-content h6 {
    margin: 1rem 0;
}    
.cc-content-area .block-area .entry-content ul.user-list li {
    padding: .8rem 1rem;
    border-bottom: 1px solid #f1f1f1;
}
.cc-content-area .block-area .entry-content ul {
    padding-left: 1.5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
}