/*
Theme Name: CC Commoners
Theme URI: https://github.com/creativecommons.org/commoners
Author: Creative Commons Corporation
Author URI: https://creativecommons.org/
Description: The theme for commoners.creativecommons.org
Version: 2.5.7
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:
Text Domain: cc-commoners
Template: twentyseventeen
*/


@media all and (max-width: 600px) {
	
	.main-nav {
		font-size: 0.8rem;
	}
	
}


@media all and (max-width: 600px) {
	
	.header-search input[type="text"] {
		width: 0;
		opacity: 0;
	}
	
}


body.page-template-page-sidebar-php .page-body, body.page-template-hub-page-php .page-body, body.my-profile .page-body {
	padding-top: 158px;
}

body.my-profile .page-body .signup-form-body {
	margin-top: 0;
}

/*
.admin-bar .page-body {
    padding-top: 100px;
}
*/

@media all and (max-width: 600px) {
	
	.page-body {
		max-width: 100%;
		width: 100%;
		overflow: hidden;
	}
	
}


@media all and (max-width: 600px) {

	.container-top-message {
		padding: 40px 35px;
	}
	
	.top-message {
		max-width: 100%;
	}
	
}

.form-top-text {
	column-count: 2;
	column-gap: 40px;
}

.form-top-text a {
	color: #333;
	text-decoration: none;
}

.top-message h2 {
	width: 350px;
	float: left;
	font-size: 1.5rem;
}

@media all and (max-width: 600px) {
	
	.top-message h2 {
		width: 100%;
		margin-bottom: 15px;
	}
	
}

@media all and (max-width: 600px) {
	
	.to-r {
		overflow: visible;
	}
	
}


.caption-hub {
	background-color: #f46b2c;
	color: #fff;
}

.caption-bphome {
	color: #fff;
	width: 370px;
	padding-left: 125px;
	background: #27A635 url('./assets/i/cc-network-icons/caption-bphome-icon.png') no-repeat 15px center;
	background-size: 25%;
}

@media all and (max-width: 600px) {

	.caption-bphome {
		color: #fff;
		width: 370px;
		padding-left: 20px;
		background-image: none;
	}

}



/*
.triangle {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  z-index: 1;
  width: 30px;
  height: 100%;
}
*/

@media all and (max-width: 600px) {
	
	.slide-caption {
		position: relative;
		right: 0;
		bottom: 0;
		width: 100%;
		padding: 15px 35px 50px 35px;
	}
	
}

@media all and (max-width: 600px) {
	
	.slide-caption h3 {
		font-size: 2.2rem;
	}
	
}

@media all and (max-width: 600px) {
	
	.block {
		position: relative;
		width: 100%;
		box-sizing: border-box;
		display: block;
		padding: 20px 32px 55px 32px;
	}
	
}


.pass-recover-link {
	float: right;
	color: #fff;
	font-size: 0.75rem;
	text-decoration: none;
}

.block-area-loginform {
	width: 100%;
}

.block-area-loginform p {
	margin-bottom: 0;
	line-height: 3em;
}

.block-area-loginform label {
	position: relative;
	display: block;
	width: 30%;
	font-size: 0.9rem;
	font-weight: bold;
	padding-right: 15px;
	bottom: -5px;
	float: left;
	text-align: right;
}

@media all and (max-width: 600px) {
	
	.block-area-loginform label {
		width: 30%;
		padding-right: 5px;
		bottom: -5px;
		float: left;
		text-align: left;
	}
	
}

.block-area-loginform input[type="text"], .block-area-loginform input[type="email"], .block-area-loginform input[type="password"] {
	display: inline-block;
	background: transparent;
	width: 70%;
	color: #fff;
	border-bottom: 1px solid #fff;
}


@media all and (max-width: 600px) {

	footer {
		height: auto;
	}
	
	footer .logo {
		display: none;
	}
	
}



@media all and (max-width: 600px) {
	
	.footer-text-block {
		padding: 18px 0 0 0;
		float: none;
		max-width: auto;
		width: 100%;
		text-align: center;
	}
	
}




@media all and (max-width: 600px) {

	.footer-text-block p, .footer-text-block .textwidget.custom-html-widget {
		width: auto;
		padding-left: 15px;
		display: block;
		clear: both;
		padding-right: 15px;
	}
	
	.license-icons {
		width: auto;
		float: none;
	}
	
}



.bottom-nav {
	
}

@media all and (max-width: 600px) {

	.bottom-nav {
		padding-bottom: 18px;
	}

}





@media all and (max-width: 600px) {

	.signup-bg {
		display: none;
	}
	
	.signup-bg img {
		position: relative;
	}
	
}



@media all and (max-width: 600px) {
	
	.signup-form-body {
		max-width: 100%;
		position: relative;
		z-index: 1;
		margin: 0 auto 0 auto;
		padding-top: 178px;
	}
	
}

.form-progressbar {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 25px;
	padding: 0 40px 0 40px;
	color: #fff;
	line-height: 25px;
	text-align: center;
	background-color: #27a635;
}

.form-progressbar.step1 {
	width: 25%;
}

.form-progressbar.step2 {
	width: 50%;
}

.form-progressbar.step3 {
	width: 75%;
}

.form-progressbar.step4 {
	width: 75%;
}

.form-progressbar.step5 {
	width: 100%;
}


.toc-paragraph {
	padding: 20px 0;
	font-size: 1rem;
}



@media all and (max-width: 600px) {
	
	.confirm-step-btn, a.cc-btn {
		max-width: 100% !important;
		box-sizing: border-box;
	}
	
}


.stepper-form {
	width: 100%;
}

.stepper-form label {
	font-weight: bold;
	font-size: 1rem;
	margin-bottom: 5px;
	display: block;
}

.stepper-form input, .stepper-form textarea {
	width: 100%;
	padding: 10px;
	font-size: 1.4rem;
}

.stepper-form textarea {
	min-height: 140px;
}

.stepper-form-row {
	margin-bottom: 20px;
	width: 100%;
	clear: both;
}

.p-link {
	color: #f46b2c;
	font-weight: bold;
}

.your-voucher-a, .your-voucher-b {
	width: 47%;
	box-sizing: border-box;
	margin-top: -10px;
}

@media all and (max-width: 600px) {
	
	.your-voucher-a, .your-voucher-b {
		width: 100%;
	}
	
}

.your-voucher-a input, .your-voucher-b input {
	margin-bottom: 6px;
}

.your-voucher-a label, .your-voucher-b label {
	font-size: 0.8rem;
	margin-bottom: 0;
	font-weight: normal;
}

.your-voucher-a {
	float: left;
}

.your-voucher-b {
	float: right;
}

.success-last-step-icon {
	width: 200px;
	margin: 30px auto 100px auto;
}


#top-menu li {
    display:inline;
}

#bottom-menu li {
    display:inline;
}


/* -------- Second stage screens -------- */


.inner-section-list {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

.inner-section-list article {
	padding: 20px 0;
	border-bottom: 1px solid #ccc;
}

.inner-section-list article:last-child {
	border-bottom: none;
}

.inner-section-list article h2 {
	color: #35bbd8;
	font-size: 1.5em;
	margin-bottom: 15px
}

.inner-section-list article p {
	line-height: 1.6em;
	font-size: 0.8em
}

.inner-section-left-col {
	box-sizing: border-box;
	width: 70%;
	float: left;
	padding-right: 40px;
	padding-left: 40px;
	padding-bottom: 40px;
	/*background: yellow;*/
}

@media all and (max-width: 800px) {
	
	.inner-section-left-col {
		
	}
	
}

img.col-main-banner {
	width: calc(100% + 60px);
	margin-bottom: 20px;
	
}

.inner-section-left-col h1, .inner-section-left-col a {
	color: #35bbd8;
}

.inner-section-left-col a {
	text-decoration: none;
}

.inner-section-left-col h1 {
	margin-bottom: 20px;
	font-size: 2.3em;
}

.inner-section-left-col h3, aside h3 {
	color: #f46b2c;
	margin-bottom: 20px;
}

.inner-section-left-col p {
	line-height: 1.6em;
}

@media all and (max-width: 800px) {
	
	.inner-section-left-col {
		width: 100%;
		border-right: none;
	}
	
}

aside {
	box-sizing: border-box;
	width: 30%;
	float: right;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 40px;
	/*background: red;*/
}

@media all and (max-width: 800px) {
	
	aside {
		width: 100%;
		padding-left: 40px;
		float: left;
	}
	
}

.secondary-left-col {
	box-sizing: border-box;
	float: left;
	width: 50%;
	padding-top: 40px;
	padding-right: 40px;
	/*background: aqua;*/
}

.secondary-right-col {
	box-sizing: border-box;
	float: right;
	width: 50%;
	padding-top: 40px;
	/*background: limegreen;*/
}

@media all and (max-width: 600px) {
	
	.secondary-left-col {
		float: left;
		width: 100%;
		padding-top: 20px;
		padding-right: 0;
	}

	.secondary-right-col {
		float: left;
		width: 100%;
		padding-top: 20px;
	}
	
}

.secondary-left-col article, .secondary-right-col article {
	display: block;
	clear: both;
	margin-bottom: 30px;
}

.secondary-left-col article::after, .secondary-right-col article::after {
    position: relative;
    content: ".";
    display: block;
    width: 100%;
    clear: both;
    height: 0;
    padding: 0;
    margin: 0;
    line-height: 0;
    visibility: hidden;
    overflow: hidden;
}

.secondary-left-col article h4, .secondary-right-col article h4 {
	margin-bottom: 2px;
}

.banner-wrapper{
	width: calc(100% + 40px);
	position: relative;
	margin-left: -40px;
}

.page-template-page-platform-php .banner-wrapper, .page-template-page-chapter-php .banner-wrapper {
	width: 100%;
	margin-left: 0;
}

.page-template-page-platform-php .banner-wrapper img.col-main-banner, .page-template-page-chapter-php .banner-wrapper img.col-main-banner {
	width: 100%;
}

.page-template-page-platform-php .block-area, .page-template-page-chapter-php .block-area {
	
}

@media all and (max-width: 800px) {
	
	.banner-wrapper{
		width: 100%;
		margin-left: 0;
	}
	
}

h1 a.join-btn {
	display: inline-block;
	color: #fff;
	background: #27a635;
	padding: 4px 8px;
	font-size: 0.4em;
	vertical-align: middle;
}

h3 span.members-filter {
	font-size: 0.4em;
	color: #111;
}

.members-filter a {
	color: #35bbd8;
}

.members-filter a:hover{
	text-decoration: underline;
}

.member-info {
	overflow: auto;
}

.member-info p {
	font-size: 0.8em;
	margin-bottom: 2px;
}

p.member-country {
	padding: 0 3px;
	border-radius: 3px;
	display: inline-block;
	background: #f46b2c;
	color: #fff;
	font-size: 0.6em;
	text-transform: uppercase;
}

.avatar-container, .date-container {
	width: 70px;
	height: 70px;
	border-radius: 35px;
	overflow: hidden;
	float: left;
	margin-right: 20px;
}

.date-container {
	border-radius: 0;
	position: relative;;
}

.event-date-day {
	position: absolute;
	top: -10px;
	left: 0;
	font-size: 3em;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.event-date-month {
	position: absolute;
	bottom: 3px;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
}



.we-are-gorwing-block {
	position: relative;
	width: 100%;
	display: table;
	table-layout: fixed;
	background: #F46B2C;
	padding: 20px 30px;
	clear: both;
	color: #fff;
}

.we-are-gorwing-block h4 {
	text-transform: uppercase;
	margin-bottom: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.3em;
}

@media all and (max-width: 600px) {

	.we-are-gorwing-block h4 {
		
	}

}

.we-are-gorwing-block-content {
	display: table-row;
	max-width: 1280px;
	margin: 0 auto;
}

.we-are-gorwing-col {
	position: relative;
	display: table-cell;
	padding-left: 105px;
	color: #fff;
}

@media all and (max-width: 600px) {

	.we-are-gorwing-block {
		width: 100%;
		display: block;
		padding: 20px 30px 5px 30px;
	}

	.we-are-gorwing-block-content {
		width: 100%;
		display: block;
		margin: 0 auto;
	}

	.we-are-gorwing-col {
		position: relative;
		display: block;
		width: 100%;
		margin-bottom: 30px;
		padding-left: 105px;
		clear: both;
	}

}

.we-are-gorwing-col p {
	font-size: 1.2em;
	font-weight: bold;
	padding: 20px 0;
}

.we-are-gorwing-col p span {
	font-size: 2.2em;
}

.chapters-col {
	background: url('./assets/i/cc-network-icons/chapters-col-bg.png') no-repeat 20px top;
	background-size: contain;
}

.members-col {
	background: url('./assets/i/cc-network-icons/members-col-bg.png') no-repeat 20px top;
	background-size: contain;
}

.partners-col {
	background: url('./assets/i/cc-network-icons/partners-col-bg.png') no-repeat 20px top;
	background-size: contain;
}

@media all and (max-width: 600px) {

	.chapters-col {
		background-position: left top;
	}

	.members-col {
		background-position: left top;
	}

	.partners-col {
		background-position: left top;
	}

}


/* ----- Hub grid ----- */



@media all and (max-width: 600px) {
	
	.hub-grid {
		display: block;
		table-layout: auto;
	}
	
}



@media all and (max-width: 600px) {
	
	.hub-grid-row {
		display: block;
	}
	
}


@media all and (max-width: 800px) {
	
	.hub-grid-block {
		position: relative;
		width: 100%;
		box-sizing: border-box;
		display: block;
		padding: 20px 32px 55px 140px;
	}
	
}






.we-are-growing-grid {
	position: relative;
	width: 100%;
	display: table;
	table-layout: fixed;
	/*-webkit-box-shadow: inset 0px 15px 16px -4px rgba(0,0,0,0.29);
	-moz-box-shadow: inset 0px 15px 16px -4px rgba(0,0,0,0.29);
	box-shadow: inset 0px 15px 16px -4px rgba(0,0,0,0.29);*/
}

@media all and (max-width: 600px) {
	
	.we-are-growing-grid {
		display: block;
		table-layout: auto;
	}
	
}

.we-are-growing-grid::after {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 10px;
	content: " ";
	display: block;
	z-index: 1;
	background: transparent;
	box-shadow: 0px 4px 5px rgba(0,0,0,0.2);
}

.we-are-growing-grid-row {
	display: table-row;
}

@media all and (max-width: 600px) {
	
	.we-are-growing-grid-row {
		display: block;
	}
	
}

.we-are-growing-grid-block {
	position: relative;
	display: table-cell;
	padding: 20px 30px;
}

@media all and (max-width: 800px) {
	
	.we-are-growing-grid-block {
		position: relative;
		width: 100%;
		box-sizing: border-box;
		display: block;
	}
	
}

.we-are-growing-grid-block h3 {
	color: #27A635;
	margin-bottom: 20px;
	font-size: 2rem;
	letter-spacing: -1px;
	text-transform: capitalize;
	/*font-family: 'Roboto Condensed', sans-serif;*/
}

.we-are-growing-grid-block a {
	color: #35BBD8;
	text-decoration: none;
}

.we-are-growing-grid-block ul {
	list-style: none;
}

.we-are-growing-grid-block ul li {
	display: block;
	margin-bottom: 15px;
}

.we-are-growing-grid-block.chapters-block ul li {
	width: 50%;
	display: block;
	float: left;
	box-sizing: border-box;
}

.we-are-growing-grid-block article {
	margin-bottom: 20px;
}

.we-are-growing-grid-block article a {
	text-decoration: none;
}

.we-are-growing-grid-block ul li a::before {
	content: ' ';
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 15px;
	vertical-align: middle;
}


/* platform icons */
.we-are-growing-grid-block ul li a.copyright-platform::before {
	background: url('./assets/i/cc-network-icons/copyright-platform-icon.png') no-repeat center;
	background-size: contain;
}

.we-are-growing-grid-block ul li a.community-development::before {
	background: url('./assets/i/cc-network-icons/community-development-icon.png') no-repeat center;
	background-size: contain;
}

.we-are-growing-grid-block ul li a.glam-platform::before {
	background: url('./assets/i/cc-network-icons/glam-platform-icon.png') no-repeat center;
	background-size: contain;
}

.we-are-growing-grid-block ul li a.open-education::before {
	background: url('./assets/i/cc-network-icons/open-education-icon.png') no-repeat center;
	background-size: contain;
}


/* chapters by country icons */
.we-are-growing-grid-block ul li a.canada::before {
	background: url('./assets/i/cc-network-icons/canada-icon.png') no-repeat center;
	background-size: contain;
}

.we-are-growing-grid-block ul li a.swiss::before {
	background: url('./assets/i/cc-network-icons/swiss-icon.png') no-repeat center;
	background-size: contain;
}

.we-are-growing-grid-block ul li a.usa::before {
	background: url('./assets/i/cc-network-icons/usa-icon.png') no-repeat center;
	background-size: contain;
}

.we-are-growing-grid-block ul li a.china::before {
	background: url('./assets/i/cc-network-icons/china-icon.png') no-repeat center;
	background-size: contain;
}

.we-are-growing-grid-block ul li a.chile::before {
	background: url('./assets/i/cc-network-icons/chile-icon.png') no-repeat center;
	background-size: contain;
}


.inner-section-left-col h2 {
	color: #F46B2C;
	margin: 20px 0 10px 0;
	font-size: 1.8em;
}

#members-list {
	margin-top: 20px;
}

#members-list article {
	width: 50%;
	float: left;
	margin-bottom: 20px;
}

.item-content {
	display: none;
}

body:not(.page-template-page-faqs) .item-content {
	display: block;
}

/* Overwrites BP profile styles */
#item-header-content {
	margin-left: 160px !important;
}

.bp-user #buddypress #item-header {
	padding: 0 !important;
}

.bp-user.page-two-column #buddypress #cover-image-container #item-header-cover-image #item-header-content {
	margin-left: 170px !important;
	margin-top: -130px !important;
	font-size: 1rem;
}

#buddypress #item-header-cover-image #item-header-avatar img.avatar {
	background: rgba( 255, 255, 255, 0.8 );
	border: solid 8px #fff;
}

#buddypress input[type=submit] {
	position: relative;
	display: inline-block;
	padding: 8px 15px;
	text-decoration: none;
	color: #fff !important;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #27a635;
	text-align: center !important;
	float: none !important;
	border: none !important;
}

#buddypress input[type=submit]:hover{
	background: #27a635 !important;
	color: #fff !important;
}

.bp-user #buddypress .profile #profile-edit-form ul.button-nav {
	margin-bottom: 20px;
}

.bp-avatar-nav li.current a {
	background: #fff;
}

#drag-drop-area {
	border: 4px dashed #27a635 !important;
}

@media all and (max-width: 600px) {

	#item-header-content {
		display: none;
	}

	#buddypress #item-header-cover-image #item-header-avatar {
		margin-top: 20px;
	}

	#buddypress #header-cover-image {
		display: none;
	}
	
	body.my-profile .page-body {
		padding-top: 0;
	}
	
}

body.page-template .inner-section-left-col h2 {
	font-weight: normal;
	margin: 20px 0;
}

body.page-template .inner-section-left-col h3 {
	font-size: 1.6em;
	margin-bottom: 0.5em;
	font-weight: normal;
}

body.page-template .inner-section-left-col h4 {
	font-size: 1.3em;
	margin-bottom: 0.5em;
	font-weight: normal;
}

body.page-template .inner-section-left-col p {
	margin-bottom: 15px;
}

body.page-template .inner-section-left-col ul, body.page-template .inner-section-left-col ol {
	margin: 15px 0;
	padding-left: 15px;
	list-style-position: inside;
}

body.page-template .inner-section-left-col ul li, body.page-template .inner-section-left-col ol li {
	list-style: none;
	position: relative;
	padding-left: 15px;
}

body.page-template .inner-section-left-col ul li::before, body.page-template .inner-section-left-col ol li::before {
	display: block;
	vertical-align: top;
	content: "·";
	font-size: 2rem;
	color: #000;
	position: absolute;
	top: -0.6rem;
	left: 0;
}

body.page-template .inner-section-left-col blockquote {
	font-family: 'Arial', 'sans-serif';
	display: inline-block;
	font-size: 0.9rem;
	padding: 0 15px 15px 15px;
  	/*border-left: 10px solid #ccc;*/
  	/*quotes: "\201C""\201D""\2018""\2019";*/
}

body.page-template .inner-section-left-col blockquote:before {
	/*color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;*/
}

body.page-template .inner-section-left-col blockquote p {

}

.fullwidth-col {
    width:100% !important;
    float:none !important;
    padding-top: 158px !important;
}

.search-form .search-field{
    height: 30px;
    min-width: 90%;
    border: 1px solid gray;
    padding: 0px;
}

.search-form .search-submit{
    -webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;position:relative;background:#049BCE;border-radius:0;color:#fff;
    height:32px;
    width:32px;
    padding:0px;
    vertical-align: bottom;
}

.icon-search {
    height:32px;
    width:32px;

}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.directory li:before {
    content: none !important;
}

/* See ccgn_bp_directory_query() */
.directory.members .item-list-tabs {
    display: none;
}
