//Mixins utilities
//
@mixin placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; } 
}
@mixin coverer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@mixin logo-display {
    display: block;
    width: 230px;
    height: 50px;
    margin: 20px auto 0 auto;
    background: url('../i/logo.png') no-repeat center top;
    background-size: contain;
    opacity: 1;
    transition: all .2s ease;
    h1, span {
        display: block;
        text-indent: -1000rem;
    }
    &:hover {
        opacity: .4;
    }
}