.signup-bg {
	position: relative;
	z-index: 0;
	width: 100%;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
    }
}
.main-slideshow {
    .swiper-slide {
        img {
            max-width: 100%;
            height: auto;
        }
        .slide-caption {
            position: absolute;
            right: 2rem ;
            bottom: 2rem;
            width: rem-calc(280);
            padding: 1rem;
            z-index: 1;
            font-family: $font-alt;
            background-color: $primary-color;
            h3 {
                font-weight: bold;
                font-family: $font-alt;
                font-size: 1.9rem;
                letter-spacing: -1px;
                text-transform: uppercase;
            }
            p {
                margin-bottom: 0;
                font-size: .9rem;
            }
            .slide-caption-btn {
                display: inline-block;
                float: right;
                padding: .2rem .5rem;
                margin-top: .9rem;
                text-decoration: none;
                text-align: center;
                line-height: 26px;
                color: $white !important;
                font-size: 0.85rem;
                background-color: $alert-color;
                &:hover {
                    background-color: lighten($alert-color, 10);
                }
            }
        }
    }
}

.block-section {
    .block {
        position: relative;
        padding: 1rem 1.5rem 3.8rem 1rem;
        color: #fff;
        h3 {
            margin-bottom: 1rem;
            font-size: 2.2rem;
            letter-spacing: -1px;
            text-transform: uppercase;
            font-family: $font-alt;
        }
        p {
            font-size: 0.8rem;
	        margin-bottom: 1.5rem;
        }
        .block-link {
            display: inline-block;
            position: absolute;
            padding: .2rem 1rem;
            right: 1rem;
            bottom: 1rem;
            text-decoration: none;
            text-align: center;
            line-height: 26px;
            font-weight: normal;
            color: $black;
            font-size: 0.8rem;
            background-color: $primary-color;
            &:hover {
                background-color: lighten($primary-color,5);
            }
        }
        &:first-child {
            background-color: $alert-color;
        }
        &:nth-child(2) {
            background-color: $secondary-color;
        }
        &:last-child {
            background-color: $success-color;
        }
    }
}
.inner-section-title {
    width: 100%;
	background: $secondary-color;
	padding: 1rem 0;
	text-align: center;
	color: $white;
	margin-top: 8.8rem;
    .entry-title {
        &.big {
            text-transform: uppercase;
	        font-family: $font-alt;
        }
    }
}
.members-meta {
    width: 50%;
    margin: 2rem 0;
    a {
        color: $secondary-color;
        &:hover {
            text-decoration: none;
        }
    }
}

.hub-grid {
    .hub-grid-block {
        position: relative;
        padding: 20px 32px 55px 140px;
        color: #111;
        h3 {
            margin-bottom: 15px;
            font-size: 2.2rem;
            letter-spacing: -1px;
            text-transform: uppercase;
            font-family: $font-alt;
        }
        p {
            font-size: 0.9rem;
            margin-bottom: 15px;
            a {
                color: $black;
            }
        }
        .hub-grid-block-svg {
            width: 100px;
            min-height: 100px;
            position: absolute;
            top: 20px;
            left: 20px;
        }
        &:hover {
            color: $white;
            svg {
                .icon-path {
                    fill: #ffffff;
                }
            }
            a {
                color: $white;
            }
        }

         &:first-child {
             &:hover {
                background: $success-color;
            }
        }
        &:nth-child(2) {
            &:hover {
                background: $alert-color;
            }
        }
        &:nth-child(3) {
            &:hover {
                background: $secondary-color;
            }
        }
        &:nth-child(4) {
            &:hover {
                background: $alert-color;
            }
        }
        &:nth-child(5) {
            &:hover {
                background: $secondary-color;
            }
        }
        &:nth-child(6) {
            &:hover {
                background: $success-color;
            }
        }
    }
}
.hub-quote-block {
	width: 100%;
	padding: 30px;
	clear: both;
	background: $primary-color;
    color: $black;
    .hub-quote-content {
        max-width: 700px;
        margin: 0 auto;
        h2 {
            font-size: 1.8em;
            margin-bottom: 13px;
            font-weight: bold;
        }
        p {
            font-size: 0.8em;
            font-style: italic;
            a {
                color: $alert-color;
            }
        }
    }
}

.signup-form-body {
	position: relative;
    padding: 2rem;
	margin: -37vh auto 100px auto;
	font-size: 1rem;
	line-height: 1.6em;
    background-color: $primary-color;
    h2, h1, .gform_wrapper h1 {
        margin-bottom: 20px;
        font-size: 2.2rem;
        text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold !important;
    }
    h3 {
        margin-bottom: 19px;
        font-size: 1.2rem;
    }
    h4 {
        margin-bottom: 18px;
    }
    h5 {
        font-size: 1rem;
    }
    p {
        margin-bottom: 15px;
    }
    hr {
        color: $black !important;
        border: none;
    }
    .applicant-title {
        padding: .5rem 0;
        border-bottom: 1px solid darken($primary-color,5);
        border-top: 1px solid darken($primary-color,5);
    }
    .form-confirm-step {
        width: 100%;
        text-align: center;
        p {
            margin-bottom: 0;
            a {
                color: $alert-color;
            }
        }
        .confirm-step-btn {
            @include button(false,$success-color,lighten($success-color,5),$white, solid);
        }
    }
}
.cc-btn {
    @include button(false,$success-color,lighten($success-color,5),$white, solid);
}

.display-details {
    text-decoration: none;
    display: flex;
    padding: .5rem;
    align-items: center;
    background-color: #cea500;
    color: #FFF;
    transition: all .5s ease;
    &.opened {
        color: $white;
        .dashicons {
            transform: rotate(-180deg);
        }
    }
    .dashicons {
        transition: all .5s ease;
    }
    &:hover {
        background-color: #e6b800;
    }
}
.entry-status {
    padding: 1rem;
    border: 4px solid lighten($light-gray,5);
    min-height: 19rem;
    margin-bottom: 1rem;
    text-align: center;
    opacity: .5;
    &.on-hold {
        border: 4px solid #fdad00;
        background-color: #ffe4b1;
        opacity: 1;
        .entry-title {
            color: #ff7300;
            .icon {
                .dashicons {
                    color: #ff7300;
                }
            }
        }
    }
    &.error {
        border: 4px solid #6e4d4d;
        background-color: #ffb1b1;
        opacity: 1;
        .entry-title {
            color: #5c0000;
        }
        .icon {
            .dashicons {
                color: #5c0000;
            }
        }
    }
    &.success {
        border: 4px solid #33b400;
        background-color: #c7ffb1;
        opacity: 1;
        .entry-title {
            color: #1a5c00;
        }
        .icon {
            .dashicons {
                color: #1a5c00;
            }
        }
    }
    .icon {
        display: block;
        text-align: center;
        .dashicons {
            font-size: 3rem;
            width: 3rem;
            height: 3rem;
        }
    }
    .entry-title {
        font-size: 1.5rem;
    }
    .subtitle {
        text-transform: uppercase;
    }
    .entry-status-content {
        border-top: 1px solid $medium-gray;
        margin-top: 1rem;
        padding-top: 1rem;
        .status-text {
            font-weight: bold;
        }
        .status-action {
            display: block;
            margin-top: 1rem;
        }
        .subtitle {
            display: block;
            font-size: .8rem;
        }
        .update-date {
            display: block;
        }
    }
}
.vouch-list {
    list-style-type: none;
    .vouch-item {
        a {
            display: flex;
            padding: .5rem;
            margin-bottom: 1rem;
            align-items: center;
            background-color: #efaf01;
            text-decoration: none;
            color: #5D5D5D;
            .dashicons {
                margin-right: .5rem;
            }
            &:hover {
                background-color: #ef9c01;
                color: white;
            }
        }
    }
}
table.ccgn-profile {
    display: none;
    width: 100%;
    border-top: 5px solid #e6e6e6;
    tr {
        td {
            padding: .8rem 1rem;
            border-bottom: 1px solid #e6e6e6;
            &.title {
                font-weight: bold;
                text-transform: uppercase;
                text-align: right;
            }
        }
    }
}


.preview-details {
    td {
        padding: .5rem;
        width: 50%;
        vertical-align: top;
        font-size: .9rem;
        h6 {
            margin: 1rem 0;
            font-size: 1.1rem;
            font-weight: bold;
        }
    }
}